/* hearder */

header {
	width: 100%;
	height: 100vh;
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
			to right,
			rgba(21, 101, 192, 0.63),
			hsla(2, 65%, 44%, 0.63)
		),
		url(../imagenes/portada.jpg);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
header .textos-header {
	align-self: center;
	position: static;
	display: flex;
	height: 430px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}
body {
	font-family: Arial;
}

.titulo {
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.textos-header {
	position: relative;
	padding: 0;
	margin: auto;
}

.textos-header h1 {
	font-size: 50px;
	color: white;
}

.textos-header h2 {
	font-size: 30px;
	color: white;
	font-weight: 300px;
}
/* about-us */

main .sobre-nosotros {
	padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros {
	display: flex;
	justify-content: space-evenly;
}

.imagen-about-us {
	width: 48%;
}

.sobre-nosotros .contenido-textos {
	width: 48%;
}

.contenido-textos h3 {
	margin-bottom: 15px;
}

.contenido-textos h3 span {
	background: #4d0686;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 4px;
	box-shadow: 0 0 6px 0 rgb(0, 0, 5);
	margin-right: 5px;
}

.contenido-textos p {
	padding: 0 0 30px 15px;
	font-weight: 300;
	text-align: justify;
}

/* galeria */

.portafolio {
	background: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 50px;
}
.titulo__carrusel {
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
.carrusel {
	width: 90%;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
}
#img {
	width: 70%;
	height: 400px;
}
.btn {
	font-size: 4em;
}
/* clients */
.cards {
	display: flex;
	justify-content: space-evenly;
}

.cards .card {
	background: #1873de;
	display: flex;
	width: 46%;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.6);
}

.cards .card img {
	width: 100px;
	height: 100px;
	-o-object-fit: cover;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.cards .card > .contenido-texto-card {
	width: 60%;
	color: #fff;
}

.cards .card > .contenido-texto-card p {
	font-weight: 300;
	padding-top: 5px;
}

/* Our team */

.about-services {
	background: #f2f2f2;
	padding-bottom: 30px;
}

.servicio-cont {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.servicio-cont img {
	min-height: 200px;
	max-height: 400px;
	width: 100px;
}

.servicio-ind {
	width: 28%;
	text-align: center;
}

.servicio-ind img {
	width: 90%;
}

.servicio-ind h3 {
	margin: 10px 0;
}

.servicio-ind p {
	font-weight: 300;
	text-align: justify;
}
