body {
	font-family: Arial;
	font-size: 18px;
}

.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* hearder */

header {
	width: 100vw;
	height: 100vh;
	background: #b92b27;
	background: linear-gradient(to right, #1565c09f, #b92c2786),
		url(../imagenes/portada.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}

header .textos-header {
	display: flex;
	height: 430px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.textos-header h1 {
	font-size: 70px;
	color: white;
}

.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Contenio Main */

.mainCont {
	width: 70%;
	margin: 0 auto 2em auto;
	border: grey solid 1px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	box-shadow: rgb(155, 155, 155) 10px 10px 10px 10px;
}
#genTitle {
	text-align: center;
}
/* responsive */
@media screen and (max-width: 400px) {
	.textos-header h1 {
		font-size: 3.7em;
	}
	body {
		font-size: 14px;
	}
}
