img {
	border-radius: 10%;
}

body {
	font-family: Arial;
	font-size: 17px;
}

.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo {
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

/* Noticias */
.not_ind > img {
	width: 60%;
	height: 70%;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 2em;
}
.not_par {
	background-color: #dde0e2;
}
