#check {
	display: none;
}
#label {
	display: none;
}
header {
	width: 100%;
	height: 100vh;
	background: #b92b27;
	background: linear-gradient(to right, #1565c09f, #b92c2786),
		url(../imagenes/portada.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}
header .textos-header {
	align-self: center;
	position: static;
	display: flex;
	height: 430px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
body {
	font-family: Arial;
}
.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.textos-header {
	position: relative;
	padding: 0;
	font-size: 50px;
}

.textos-header h1 {
	font-size: 1.4em;
	color: white;
	margin-bottom: 0;
}

.textos-header h2 {
	font-size: 1em;
	color: white;
	padding-bottom: 0;
}
.navegacion {
	width: 100%;
	text-align: left;
	position: fixed;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 100;
	background-color: white;
	border-bottom: solid rgb(223, 223, 223) 0.5px;
}
.navegacion ul {
	list-style: none;
}
.menu {
	text-align: right;
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: 50px;
}
.menu > li {
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin: auto;
}
.menu > li > a {
	display: block;
	margin: 10px 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
	color: black;
	font-size: 20px;
}
.menu li a:hover {
	color: rgb(199, 16, 16);
}
.fa-chevron-down {
	font-size: 15px;
	color: rgb(199, 16, 16);
}
/* desplegar el submenu  */
.submenu {
	text-align: left;
	position: absolute;
	background: #fff;
	width: 80%;
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 18px;
}

.submenu li a {
	display: block;
	padding: 15px 0 15px 0;
	color: black;
	text-decoration: none;
	margin: 0;
}

.menu li:hover .submenu {
	display: block;
	opacity: 1;
}
@media screen and (max-width: 900px) {
	/* menu */
	.submenu {
		background-color: rgb(235, 233, 233);
	}
	.navegacion_contenedor #label {
		visibility: visible;
		display: block;
		color: black;
		position: fixed;
		z-index: 20;
		width: 100%;
		font-size: 40px;
		padding: 10px;
		background: rgb(235, 233, 233);
	}
	.navegacion_contenedor .navegacion {
		transition: ease 0.2s all;
		visibility: hidden;
		z-index: 20;
		max-width: 0;
		height: 100%;
		position: fixed;
		display: flex;
		flex-flow: column wrap;
		overflow: hidden;
		color: black;
		font-size: 1.3em;
		background-color: rgb(235, 233, 233);
		margin-top: 50px;
	}
	.item {
		width: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.menu .item a {
		font-size: 1em;
		color: black;
		text-align: left;
	}
	.submenu .sub-item a {
		font-size: 1.15em;
		color: black;
		text-align: left;
	}
	#check:checked ~ .navegacion {
		visibility: visible;
		max-width: 50%;
	}
}
@media screen and (max-width: 500px) {
	header {
		height: 80vh;
	}
	#check:checked ~ .navegacion {
		visibility: visible;
		max-width: 100%;
	}
}
