.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  padding: 0;
  margin: auto;
}
.historia {
  display: flex;
}
.director {
  display: flex;
  justify-content: space-evenly;
}
.mision_vision {
  display: flex;
}
@media screen and (max-width: 900px) {
  .textos-header h1 {
    font-size: 1.5em;
    color: white;
  }
  header {
    height: 80vh;
  }
  .img_director {
    width: 75%;
  }
  .contenido {
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
  .mision,
  .vision {
    margin: auto;
    width: 70%;
  }
}
@media screen and (max-width: 540px) {
  .textos-header h1 {
    font-size: 0.7em;
    color: white;
  }
  .parrafo {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .img_director {
    width: 75%;
  }
  .mision,
  .vision {
    margin: auto;
    width: 90%;
  }
}
