.contenedor {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	padding: 0;
}
.historia {
	display: flex;
}
.director {
	display: flex;
}
.mision_vision {
	display: flex;
}
@media screen and (max-width: 900px) {
	.textos-header h1 {
		font-size: 1.5em;
		color: white;
	}
	header {
		height: 80vh;
	}
	.parrafos {
		display: inline-block;
		text-align: justify;
		width: 70%;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.contenido {
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
	.mision,
	.vision {
		margin-inline: auto;
		width: 70%;
	}
	figure {
		width: 70%;
		height: 80%;
		margin-inline: auto;
	}
}
@media screen and (max-width: 540px) {
	.textos-header h1 {
		font-size: 0.9em;
		color: white;
	}
	.img_historia {
		width: 90%;
		height: 300px;
		padding: 0;
	}
	figure {
		width: 70%;
		height: 80%;
		margin-inline: auto;
	}
	@media screen and (max-width: 400px) {
		.img_historia {
			height: 200px;
		}
		.parrafos {
			width: 80%;
		}
	}
}
