.not_fran {
	display: grid;
	grid-template-columns: 1fr;
	grid-row: 3;
	justify-content: right;
	align-content: space-evenly;
}

.not_ind {
	display: flex;
	flex-flow: column wrap;
	padding-bottom: 2em;
}
@media screen and (max-width: 900px) {
}
@media screen and (max-widht: 500px) {
}
