.contenedor {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
}
.historia {
	display: flex;
}
.director {
	display: flex;
}
.mision_vision {
	display: flex;
}
@media screen and (max-width: 900px) {
	.parrafos {
		text-align: justify;
		max-width: 60%;
		order: 2;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.contenido {
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
	.mision,
	.vision {
		margin: auto;
		width: 70%;
	}
	.titulo {
		order: 0;
	}
	.imagen {
		order: 1;
	}
	.mision_p {
		text-align: justify;
		width: 100%;
	}
}
@media screen and (max-width: 540px) {
	.imagen {
		max-width: 80%;
		margin-bottom: 1em;
	}
}
